<br>
<div>
    <div class="filter-container">
        <label for="titleFilter">Title:</label>
        <input [(ngModel)]="titlefilter" (input)='applyFilters()' name="titlefilter" class="input-field"/>
        <label for="genrefilter">genre:</label>
  <select
    [(ngModel)]="genrefilter"
    (change)="applyFilters()"
    name="genreFilter"
    class="select-field">
    <option value="">All Genres</option>
    <option *ngFor="let genre of genre" [value]="genre">
      {{ genre }}
    </option>
  </select>
  <label for="actorfilter">Actors:</label>
  <select
    [(ngModel)]="actorfilter"
    (change)="applyFilters()"
    name="actorfilter"
    class="select-field">
    <option value="">All Actors</option>
    <option *ngFor="let actors of actors" [value]="actors.name">
      {{ actors.name }}
    </option>
  </select>
    </div>
    <button style="background-color: rgb(0, 192, 250); color: white;"><a routerLink="/movie-add" class="add-movie">Add New Movie</a></button>
    <br>
    <table>
        <thead>
            <tr>
                <th (click)="sortByID()">ID</th>
                <th (click)="sortByTitle()">Title</th>
                <th>Year</th>
                <th>Director</th>
                <th>Genre</th>
                <th>Plot</th>
                <th>Cast</th>
                <th>Oscars</th>
                <th>Rating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies">
                <td>{{ movie.id }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.year }}</td>
                <td>{{ movie.director }}</td>
                <td>{{  movie.genre }}</td>
                <td>{{ movie.plot }}</td>
                <td>
                    <ul>
                        <li *ngFor="let cast of movie.cast">{{ cast.actor }} {{ cast.character }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li *ngFor="let oscar of getOscarEntries(movie.oscars)">
                          <strong>{{ oscar.key }}:</strong> {{ oscar.value }}
                        </li>
                    </ul>
                </td>
                <td>{{ movie.rating }}</td>
                <td>
                    <button style="background-color: blue; color: white;" (click)="viewMovieDetails(movie)">View</button>
                    <button style="background-color: rgb(21, 177, 15); color: white;" (click)="editMovie(movie)">Edit</button>
                    <button style="background-color: red; color: white;" (click)="deleteMovie(movie)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>