<div *ngIf="actor">
    <h2>Edit Actor</h2>
    <form>
        <label for="name">Name:</label>
        <input [(ngModel)]="actor.name" name="name" />

        <label for="birthdate">BirthDate:</label>
        <input [(ngModel)]="actor.birthdate" name="birthdate" type="date" />

        <label for="height">Height:</label>
        <input [(ngModel)]="actor.height" name="height" type="number" />

        <label for="nationality">Nationality:</label>
        <input [(ngModel)]="actor.nationality" name="nationality" />

        <button style="background-color: rgb(23, 124, 218); color: white;" (click)="saveChanges()">Save Changes</button>
    </form>
</div>