<div *ngIf="todo">
    <h2 style="color: rgb(0, 0, 0);">Todo Details</h2>
    <p style="color: rgb(0, 0, 0);"><strong>ID:</strong> {{ todo.id }}</p>
    <p style="color: rgb(0, 0, 0);"><strong>Title:</strong> {{ todo.title }}</p>
    <p style="color: rgb(0, 0, 0);"><strong>Completed:</strong> {{ todo.completed }}</p>
    <p style="color: rgb(0, 0, 0);"><strong>Category:</strong> {{ todo.category }}</p>
    <p style="color: rgb(0, 0, 0);"><strong>SubCategory:</strong> {{ todo.subcategory }}</p>
  </div>
  